@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap");

.panelWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  margin-left: 200px;
  max-width: 250px;
  height: 100%;
}

.panelTitle {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-top: 60px;
  color: #767676;
  font-weight: bold;
}

.panelTitle::before {
  margin-top: 50px;
}

hr {
  width: 70%;
  text-align: left;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
